
## python
*.ipynb_checkpoints

## macos
*.DS_Store

## notepad++
*.bak

## latex
*.aux
*.lof
*.log
*.out
*.toc
*.bbl
*.brf
*.gz
*.blg
*.acn
*.ist
*.lot
**/svg-inkscape

## folders
/literature
**/cache
